.article-listing-page {
  padding: $padding-l $padding-s;
  display: flex;
  flex-direction: column;

  @media (min-width: 790px) {
    padding: $padding-xl $padding-s;
  }

  &__title {
    color: $primary;
    font-size: $font-h3;
    margin-bottom: $margin-l;
    margin-top: 0;
  }

  &__article-title {
    @media (min-width: 790px) {
      font-size: $font-h1;
    }
    font-size: $font-h2;
    line-height: 1.35;
    margin-bottom: $margin-xs;
    margin-top: 0;
  }

  &__article-list {
    list-style-type: none;
  }

  &__list-item {
    background: white;
    border-left: 0.6rem solid $primary;
    border-radius: 0 0.6rem 0.6rem 0;
    box-shadow: 0 0 $padding-s rgba(0, 0, 0, 0.12);

    @media (min-width: 790px) {
      padding: $padding-l;
    }
    padding: $padding-m;

    &:not(:last-child) {
      margin-bottom: $margin-l + $margin-s;
    }
  }

  &__paragraph,
  &__metadata {
    font-size: $font-p;
    line-height: 2;
    margin-bottom: 2.4rem;
  }

  &__metadata {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;

    @media (min-width: 650px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__author-photo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin-right: $margin-s;
  }

  &__author-name {
    color: $primary;
    font-weight: 500;
    margin-right: $margin-s;
  }

  &__article-date {
    color: lighten($dark-grey, 45%);
  }

  a {
    transition: color 90ms ease;

    &:hover {
      color: $secondary;
    }
  }

  &__no-articles-message {
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
