.author-profile-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner-container {
        width: 100%;
        box-shadow: 0 0 $padding-m rgba(0, 0, 0, 0.12);
        background: white;
        padding: $padding-xl $padding-m;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 0.6rem solid $primary;
        border-radius: 0 0.6rem 0.6rem 0;

        @media (min-width: 790px) {
            padding: $padding-xl;
        }
    }

    &__photo {
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0.3rem 2.1rem rgba(0, 0, 0, 0.36);
        height: $size-xl;
        margin-bottom: $margin-m;
        width: $size-xl;
        height: $size-xl;
        flex-shrink: 0;
    }

    &__author-name {
        font-size: $font-h2;
        font-weight: 700;
        margin-bottom: $margin-m;
        text-align: center;
    }

    &__author-bio {
        font-size: $font-p;
        letter-spacing: 0.06rem;
        line-height: 2;
        margin-bottom: $margin-l;
        width: 100%;
    }

    &__author-name,
    &__author-bio {
        border-bottom: 1px solid transparent;
        padding: $padding-xs 0;
        transition: border 120ms ease;
        background: none;
        color: $dark-grey;

        &:focus {
            border-bottom: 1px solid $primary;
        }
        &:placeholder-shown {
            border-bottom: 1px solid $primary;
        }
    }
    &__author-name {
        padding-bottom: 0.75rem;
    }

    &__author-bio {
        min-height: 4.8rem;

        &::placeholder {
            color: darken($light-grey, 60%);
            font-size: 1.5rem;
            font-style: italic;
            letter-spacing: 0;
            padding-left: 0.15rem;
        }
    }
}
