.header {
    align-items: center;
    background: $primary;
    border-bottom: 0.24rem solid $secondary;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    display: flex;
    height: 64px;
    justify-content: center;
    left: 0;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &__login-link {
        align-items: center;
        border-radius: 0.3rem;
        background: $light-grey;
        display: flex;
        font-family: "Raleway", sans-serif;
        font-size: $font-s;
        justify-content: center;
        letter-spacing: 0.3px;
        padding: 1rem $padding-s;
        text-transform: uppercase;
        transition: background-color 200ms;

        &:hover {
            background: white;
        }

        &:focus {
            outline: none;
        }
    }

    &__google-logo {
        height: 1.8rem;
        margin-right: 1.2rem;
    }

    &__inner-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__logo {
        display: block;
        height: 23px;
    }

    &__dropdown-container {
        position: relative;
    }

    &__profile-picture {
        background-position: center center;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.36);
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
}
