.snackbar {
    align-items: center;
    background: white;
    border-left: 0.6rem solid $primary;
    bottom: 3rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    display: flex;
    font-size: $font-p;
    justify-content: center;
    left: 50%;
    line-height: 2;
    min-height: 6.9rem;
    min-width: 24rem;
    padding: $padding-s;
    position: fixed;
    transform: translateX(-50%);
    z-index: 3000;

    &__icon {
        height: 2.1rem;
        fill: $primary;
        margin-right: $margin-s;
    }
}
