* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}
html,
body {
    height: 100vh;
}

body {
    background: $light-grey;
    color: $dark-grey;
    font-family: "Raleway", sans-serif;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}

input,
button,
textarea {
    font-family: "Raleway", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

*::selection {
    background-color: rgba(78, 78, 78, 0.75);
    color: white;
}

.CSSTransition-enter {
    opacity: 0;
    transform: translateY(-5px);
}
.CSSTransition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
.CSSTransition-exit {
    opacity: 1;
    transform: translateY(0);
}
.CSSTransition-exit-active {
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
