// Colors
$dark-grey: #414141;
$light-grey: #f5f5f5;
$primary: #2900d9;
$secondary: #ff5759;

// Header offset
$header-offset: 6.3rem;

// Font sizes
$font-h1: 3.6rem;
$font-h2: 2.8rem;
$font-h3: 2rem;
$font-p: 1.6rem;
$font-s: 1.2rem;

// Padding
$padding-xs: 1.2rem;
$padding-s: 1.8rem;
$padding-m: 3.6rem;
$padding-l: 6rem;
$padding-xl: 9.6rem;

// Margin
$margin-xs: 1.2rem;
$margin-s: 1.8rem;
$margin-m: 3.6rem;
$margin-l: 4.5rem;
$margin-xl: 9.6rem;

// Sizes
$size-xl: 12rem;
